.card {
  background: #2c2c2c;
  border-radius: 30px;
  border: 2px solid transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 15px 15px 30px 0px #191919;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 190px;
  height: 226px;
}

.card.active {
  border-color: var(--color-green);
}

.card:hover {
  transform: translateY(-8px);
  box-shadow: 15px 20px 40px 0px #191919;
  background: #4f4f4fcc;
}

.name {
  color: var(--color-white);
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  padding: 14px;
  text-transform: uppercase;
}

.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex: 1;
  overflow: hidden;
}

.image {
  object-fit: cover;
  border-radius: 8px;
}

.likeSection {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  padding: 4px;
  background: transparent;
  color: var(--color-white);
  font-size: 16px;
  cursor: pointer;
  width: 100%;
}

.likeSection:hover svg {
  color: #ff0000;
}
